.slno {
  color: #0694d2;
  border-bottom: 5px solid #f887bc;
  font-size: 24px;
  font-weight: bold;
}

.question {
  font-size: 56px;
  color: #333;
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
  background: -webkit-linear-gradient(#f5cd5a, #f76d68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputBoxWrapper {
  text-align: center;
  margin-top: 60px;
  flex-wrap: wrap;

  .wordWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.keysWrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

.submitButtonWrapper {
  text-align: center;
  margin: 50px;

  button {
    box-sizing: border-box;
    height: 90px;
    font-size: 48px;
    color: #ffffff;
    line-height: 48px;
    padding: 10px 40px;
    background: #00a5f5;
    font-family: "Poppins";
    font-weight: bold;
    border: 5px solid #36c7f7;
    border-radius: 10px;
    box-shadow: 0 5px 0 #0690d1;
    cursor: pointer;

    &:active {
      box-shadow: 0 1px 0 #0690d1;
    }

    &:disabled {
      background: #ccc;
      border: 5px solid #eee;
      box-shadow: 0 5px 0 #aaa;
    }
  }
}

.scoreWrapper {
  text-align: center;

  h1 {
    font-size: 48px;
  }

  .score {
    font-size: 200px;
    font-weight: bold;
  }
}
