.inputBox {
  display: flex;
  border: 5px solid #ccc;
  width: 84px;
  height: 84px;
  margin: 15px;
  border-radius: 10px;
  font-size: 64px;
  line-height: 84px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.correct {
  background: #76dd77;
}

.wrong {
  background: #ff6861;
}
