.rootContainer {
  font-family: "Poppins";
}

.childWrapper {
  max-width: 920px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.logoWrapper {
  text-align: center;
  margin-top: 50px;

  .logo {
    width: 150px;
  }
}
